body {
    margin: 0;
}
article {
    display: block;
}
.page-width {
    margin: 0 auto;
    max-width: 36.5em;
}
.page-article {
    padding-left: 0.75em;
    padding-right: 0.75em;
}
.page-article > * {
    margin: 30px 0;
}
.input-submit-btn {
    margin-left: 5px;
}
.bits-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.bits {
    border: 1px solid black;
    width: 20px;
    text-align: center;
}
.lr-arrows {
    margin-left: 5px;
    width: 50px;
}