table.board, td.cell {
    border: 1px solid black;
}

table {
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width:500px;
    height:500px;
}

tr {
    display: table-row;
    border-color: inherit;
}

/* CA controls */
#pop-color-controls, #initial-ratio-controls {
    display: flex;
    justify-content: left;
    flex-direction: column;
    row-gap: 0.25em
}