.agora-feed-text-post {
    display: flex;
    flex-direction: column;
    row-gap: 0.1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 25px;
    margin: 10px;
    background: #262b39;
    word-wrap: break-word;
    height: 200px;
    overflow: hidden;
    box-shadow: 4px 4px 4px #FC83FC;
}

.agora-feed-image-post, .agora-feed-video-post {
    display: flex;
    flex-direction: column;
    row-gap: 0.1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 25px;
    margin: 10px;
    background: #262b39;
    word-wrap: break-word;
    height: auto;
    overflow: hidden;
    box-shadow: 4px 4px 4px #FC83FC;
}

#feed {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em
}

.post-title {
    font-size: 1.5rem;
}

iframe {
    width: 100%;
    height: 350px;
}